<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="eml"><div class="em" id="1F603"  onClick="reply_click(this.id)">&#x1F603;</div><div class="em" id="1F603" onClick="reply_click(this.id)" >&#x1F603;</div></div>

    <script>
        var emojiList = [

        ]
        function reply_click(id){
            alert(id);
        }
    </script>
</body>
</html>